
.contenedor {
	display: block;
	box-sizing: border-box;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	padding: 9px;
	background-color:#FEECE2;
  }
  
  .titulo {
	text-align: center;	
	margin-bottom: 2px;
	padding-top: 100px;
  }
  
  .compraFinal {
	
	display: flex;
	flex-wrap: wrap;
	
	
  }
  
  .sectionDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 5px;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0px 1px 0px 0px black;
  }
  
  .imgView {
	width: 80px;
	height: 80px;
	padding: 1px;
	border-radius: 1%;
	
  }
  

  
  .parrafo {
	font-size: 20px;
	padding-top: 30px;
  }
  
  .total {
	margin-top: 10px;
	padding: 0px 10px 0px 10px;
	border: 1px solid black;
	border-radius: 5px;
  }
  
  .siguiente {
	margin-top: 5px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	color: black;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.9);
  }
  
  .btnContainer{
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2em, 0.5fr));
  grid-gap: 20em;
  div {
    text-align: center;
    div {
      margin: 1em;
    }
  }
}
  
  .botones {	
		color: #ffffff;
		font-weight: bold;
		border-radius: 5px;
		border: 0;
		vertical-align: middle;
		padding: 0.5em 1.2em;
		cursor: pointer;
		box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.06);
		background-image: linear-gradient(#706f6d, #1d1c1c);
		text-decoration: none;
	
	
  }