.header{
  display: flex;
  padding: .4rem;
  background-color: #FFBE98;  
  align-items: center;
  justify-content:space-around;
  top:0;
}

.nav{  
  display: flex;  
  text-decoration: none;
  margin-right: 18rem;  
  text-align: center;
  justify-content:center;
  border-bottom: 1px solid rgb(245, 238, 238);
  
}
.tortita{
  
  font-weight: 400;
  color:black;    
  align-items: center;
  justify-content:left;
  text-decoration: none;
  
}
.a{
  color: black;
  text-decoration: none;
  margin-right: 1rem;
  font-size:x-large;
  text-align: center;
  padding-left: 10px;
  /* border-left: 1px solid rgb(245, 238, 238); */
  
}
.a:hover{
  color: azure;
  
}
.logo{
  object-fit: cover;
  width: 30%;
}

@media screen and (max-width: 767px) {

	.tortita {
		font-size:15px;
		
	}
  .a{
    font-size: 15px;
  }
  .logo{
    object-fit: cover;
    width: 20%;
  }
	
}

@media screen and (max-width: 550px) {
  .tortita {
		font-size:12px;
		
	}
  .a{
    font-size: 12px;
  }
  .logo{
    object-fit: cover;
    width: 10%;
  }
}

@media screen and (max-width: 480px) {
  .tortita {
		font-size:10px;
		
	}
  .a{
    font-size: 10px;
  }
  .logo{
    object-fit: cover;
    width: 9%;
  }
}