.header{
  display: flex;
  padding: .4rem;
  background-color: #00B8A9;  
  align-items: center;
  justify-content:space-between;
}

.nav{  
  display: flex;
  color: black;
  text-decoration: none;
  margin-right: 1rem;
  
}
.tortita{
  
  font-weight: 400;
  color:black;    
  align-items: center;
  justify-content:left;
  text-decoration: none;
  
}
.a{
  color: black;
  text-decoration: none;
  margin-right: 1rem;
  
}
.a:hover{
  color: azure;
  size: 10;
}
.ImagenHeader{
  
  object-fit: contain;
  

}