
.contenedor {
	position: relative;
	width: 100%;
	margin: 0 auto;
	transition: all 0.3s ease-out;
	margin-top: 30px;
	margin-bottom: 30px;
	display: block;
}
@media screen and (max-width: 767px) {

	.saludo {
		font-size:15px;
		
	}
  }

@media screen and (max-width: 550px) {
  .saludo {
		font-size:12px;
		
	}

}

@media screen and (max-width: 480px) {
  .saludo {
		font-size:10px;
		
	}
  }